<div>
  Text In:
</div>
<div class="textin">
  <%= intext %>
</div>
<ul>
  <li>
    <strong>Word Count:</strong>
    <%= wordCount %>
  </li>
  <li>
    <strong>Chaacter Count:</strong>
    <%= charCount %>
  </li>
  <li>
    <strong>without spaces:</strong>
    <%= charCountSpaces %>
  </li>
  <li>
    <strong>without punctuation:</strong>
    <%= charCountPunctuation %>
  </li>
</ul>
